<section style="margin-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>See what our customers are saying</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 flex flex-center">
        <img style="width: 4rem" src="{{'images/google-logo.svg' | relative_url}}" alt="">
        <div style="margin-left: 1rem;">
          <img style="width: 2rem" src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
          <img style="width: 2rem" src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
          <img style="width: 2rem" src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
          <img style="width: 2rem" src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
          <img style="width: 2rem" src="{{'images/star-half-stroke-solid 1.svg' | relative_url}}" alt="">
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 1rem; margin-bottom: 1rem;">
      <div class="col col-12" style="font-weight: 600; font-size: 1.2rem; text-align: center;">4.9 stars | 192 reviews</div>
    </div>
    <div class="row">
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="review-card">
          <div class="flex flex-between mb1">
            <div class="review-dp"></div>
            <div class="review-user">Jennifer Ruggiero</div>
          </div>
          <p>This is a gorgeous camping resort. The grounds are so peaceful and beautifully landscaped. The staff is friendly and the amenities are great. We were very impressed and look forward to returning in the fall.</p>
          <div class="flex flex-between">
            <div>
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-half-stroke-solid 1.svg' | relative_url}}" alt="">
            </div>
            <img src="images/google-logo.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="review-card">
          <div class="flex flex-between mb1">
            <div class="review-dp"></div>
            <div class="review-user">Jennifer Ruggiero</div>
          </div>
          <p>This is a gorgeous camping resort. The grounds are so peaceful and beautifully landscaped. The staff is friendly and the amenities are great. We were very impressed and look forward to returning in the fall.</p>
          <div class="flex flex-between">
            <div>
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-half-stroke-solid 1.svg' | relative_url}}" alt="">
            </div>
            <img src="images/google-logo.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="review-card">
          <div class="flex flex-between mb1">
            <div class="review-dp"></div>
            <div class="review-user">Jennifer Ruggiero</div>
          </div>
          <p>This is a gorgeous camping resort. The grounds are so peaceful and beautifully landscaped. The staff is friendly and the amenities are great. We were very impressed and look forward to returning in the fall.</p>
          <div class="flex flex-between">
            <div>
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-half-stroke-solid 1.svg' | relative_url}}" alt="">
            </div>
            <img src="images/google-logo.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>