<section style="margin-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="rr-card rr-card-full" style="background-image: url('../images/stock-3.jpg');">
          <div class="rr-card-interior" style="background-color: #8D9167; color: #FFFFFF;">
            <span class="rr-card-header">Explore our featured resorts</span>
            <span>Check out our curated list of resorts perfect for any ocassion. Make memories with your family and friends.</span>
            <div class="flex flex-center">
              <button class="rr-card-button-2">Explore</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>