<section style="margin-bottom: 4rem;">
  <div class="container" style="padding: 2rem 3rem; background: #FFFFFF; border-radius: 2rem;">
    <div class="row">
      <div class="col col-12">
        <h2>Planned activities throughout the year</h2>
        <p class="text-center">Spend quality time on amazing attractions near Red Rover resorts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-4 mb1">
        <div class="rr-card rr-card-small" style="background-image: url('../images/stock-9.jpg'); background-position: -1.2rem; background-size: auto 100%;"></div>
        <span class="rr-card-title">St. Patrick’s day weekend</span>
      </div>
      <div class="col col-4">
        <div class="rr-card rr-card-small" style="background-image: url('../images/stock-13.jpg'); background-position: center; background-size: auto 100%"></div>
        <span class="rr-card-title">Easter weekend</span>
      </div>
      <div class="col col-4">
        <div class="rr-card rr-card-small" style="background-image: url('../images/stock-11.jpg'); background-position: center; background-size: auto 100%;"></div>
        <span class="rr-card-title">Memorial day weekend</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-4 mb1">
        <div class="rr-card rr-card-small" style="background-image: url('../images/stock-10.jpg'); background-position: -1.2rem; background-size: auto 100%;"></div>
        <span class="rr-card-title">Father’s day weekend</span>
      </div>
      <div class="col col-4">
        <div class="rr-card rr-card-small" style="background-image: url('../images/stock-8.jpg'); background-position: center; background-size: auto 100%"></div>
        <span class="rr-card-title">Labor day celebration</span>
      </div>
      <div class="col col-4">
        <div class="rr-card rr-card-small" style="background-image: url('../images/stock-12.jpg'); background-position: center; background-size: auto 100%;"></div>
        <span class="rr-card-title">Christmas</span>
      </div>
    </div>
  </div>
</section>