<section class="resorts-section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>Explore Our Resorts</h2>
        <p class="text-center">Book your next camping adventure at one of our top destinations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-3 col-t-6 col-m-12">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/nsl-lake-oconee.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">North Shore Landing</h4>
            <p class="resort-card__location"><i class="ion ion-ios-pin"></i> Greensboro, GA</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3 col-t-6 col-m-12">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-1.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Thousand Trails Resort</h4>
            <p class="resort-card__location"><i class="ion ion-ios-pin"></i> Sevierville, TN</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3 col-t-6 col-m-12">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-2.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Rocky Fork Ranch Resort</h4>
            <p class="resort-card__location"><i class="ion ion-ios-pin"></i> Kimbolton, OH</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3 col-t-6 col-m-12">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-3.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Hidden Bluffs Resort</h4>
            <p class="resort-card__location"><i class="ion ion-ios-pin"></i> Spring Grove, MN</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-3 col-t-6 col-m-12">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-4.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Ham Lake Resort</h4>
            <p class="resort-card__location"><i class="ion ion-ios-pin"></i> Ham Lake, MN</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3 col-t-6 col-m-12">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-5.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">St. Croix River Resort</h4>
            <p class="resort-card__location"><i class="ion ion-ios-pin"></i> Shin Lake, MN</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3 col-t-6 col-m-12">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-6.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Rushmore Shadows Resort</h4>
            <p class="resort-card__location"><i class="ion ion-ios-pin"></i> Rapid City, SD</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3 col-t-6 col-m-12">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-7.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Cedar Lake Resort</h4>
            <p class="resort-card__location"><i class="ion ion-ios-pin"></i> New Muncie, MN</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
