<section class="resorts-section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>Explore Our Resorts</h2>
        <p class="text-center">Book your camping adventure at one of our top destinations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-3">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/nsl-lake-oconee.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">North Shore Landing</h4>
            <p class="resort-card__location">Lake Oconee, GA</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-1.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Thousand Trails Resort</h4>
            <p class="resort-card__location">Pinehurst, NC</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-2.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Rocky Park Ranch Resort</h4>
            <p class="resort-card__location">Estes Park, CO</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-3.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Hidden Bluffs Resort</h4>
            <p class="resort-card__location">Ozark, MO</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-3">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-4.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Hare Lake Resort</h4>
            <p class="resort-card__location">Hayward, WI</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-5.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">St. Croix River Resort</h4>
            <p class="resort-card__location">Taylors Falls, MN</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-6.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Southwest Shadow Resort</h4>
            <p class="resort-card__location">Sedona, AZ</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="resort-card">
          <div class="resort-card__image" style="background-image: url({{'/images/stock-7.jpg' | relative_url}})"></div>
          <div class="resort-card__body">
            <h4 class="resort-card__name">Cedar Lake Resort</h4>
            <p class="resort-card__location">Boulder Junction, WI</p>
            <a href="/rover-locations/" class="resort-card__button">View Resort</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
