<section style="margin-bottom: 4rem;">
  <div style="width: 100%; padding: 1.5rem; background-color: #3C7E7C;" class="flex flex-center">
   <div class="row">
    <p class="col-6 col-m-12 col-t-12" style="color: #FFFFFF; margin: 0;font-size: 1.25rem; text-align: left; font-weight: 400;padding-right: 4rem;">Sign up to get 20% off your first booking</p>
    <div class="col-6 col-m-12 col-t-12 pt1">
      <input  type="text" style="padding: 0.8rem 1.3rem; margin-right: 1rem; border-radius: 1.2rem; border: none; width: 17rem;">
      <button class="pt1" style="background-color: #A41623; color: #FFFFFF; font-weight: 600; box-shadow: 0.187rem 0.187rem 0.625rem rgba(0, 0, 0, 0.1); border-radius: 1.5rem; -webkit-appearance: initial; border: none; cursor: pointer; padding: 1rem 1.4rem; margin: 0.5rem 0;">Subscribe</button>
    </div>
   </div>
  </div>
</section>