<section style="margin-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>Things to do while you stay</h2>
        <p class="text-center">Spend quality time on amazing things with Red Rover!</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-4">
        <div class="rr-card rr-card-full-button" style="background-image: url('../images/nsl-lake-oconee-3.png'); background-position: center -4rem; background-size: auto 100%">
          <button class="rr-card-button" style="background-color: #21779B; color: #FFFFFF;">
            <span class="rr-card-header">Kayaking</span>
            <span>Feel the magic with the lovely surroundings</span>
          </button>
        </div>
      </div>
      <div class="col col-4">
        <div class="rr-card rr-card-full-button" style="background-image: url('../images/stock-4.jpg'); background-position: center -4rem; background-size: auto 100%">
          <button class="rr-card-button" style="background-color: #8B802B; color: #FFFFFF;">
            <span class="rr-card-header">Hiking</span>
            <span>Enjoyment & fun at the lovely hiking trails.</span>
          </button>
        </div>
      </div>
      <div class="col col-4">
        <div class="rr-card rr-card-full-button" style="background-image: url('../images/horse.jpg'); background-position: center; background-size: auto 100%;">
          <button class="rr-card-button" style="background-color: #75818E; color: #FFFFFF;">
            <span class="rr-card-header">Horse riding</span>
            <span>Enjoy the great outdoors in style</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>