<section style="margin-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>Discover top spots near you</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card" style="background-image: url({{'/images/stock-1.jpg' | relative_url}}); background-position: -1.2rem; background-size: auto 100%;">
          <button class="rr-card-button signup-popup" style="background-color: #DFCFB7; color: #000000;">
            <span class="rr-card-header">Available this weekend</span>
          </button>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card" style="background-image: url({{'/images/stock-2.jpg' | relative_url}}); background-position: left; background-size: auto 100%">
          <button class="rr-card-button signup-popup" style="background-color: #E4C45A; color: #000000;">
            <span class="rr-card-header">Available next weekend</span>
          </button>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card" style="background-image: url({{'/images/nsl-lake-oconee-2.jpg' | relative_url}}); background-position: center; background-size: 100% auto;">
          <button class="rr-card-button signup-popup" style="background-color: #6EC1EB; color: #000000;">
            <span class="rr-card-header">RV sites near me</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>