<section style="margin-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>Plan for this season</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card rr-card-full-button" style="background-image: url({{'/images/nsl-lake-oconee.jpg' | relative_url}}); background-position: center -4rem;">
          <button class="rr-card-button signup-popup" style="background-color: #846354; color: #FFFFFF;">
            <span class="rr-card-header">Camp this fall</span>
            <span>Park your RV near the beautiful Lake Oconee.</span>
          </button>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card rr-card-full-button" style="background-image: url({{'/images/christmas.jpg' | relative_url}}); background-position: center -4rem; background-size: auto 100%">
          <button class="rr-card-button signup-popup" style="background-color: #7E260B; color: #FFFFFF;">
            <span class="rr-card-header">Christmas Camping</span>
            <span>Cozy up in your RV this Christmas.</span>
          </button>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card rr-card-full-button" style="background-image: url({{'/images/new-year.jpg' | relative_url}}); background-position: center -4rem; background-size: auto 100%;">
          <button class="rr-card-button signup-popup" style="background-color: #5E8189; color: #FFFFFF;">
            <span class="rr-card-header">New year fireworks</span>
            <span>Cozy up in your RV and watch the fireworks.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>