<section style="margin-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>See what our customers are saying</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 flex flex-center">
        <img style="width: 4rem" src="{{'images/google-logo.svg' | relative_url}}" alt="">
        <div style="margin-left: 1rem;">
          <img style="width: 2rem" src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
          <img style="width: 2rem" src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
          <img style="width: 2rem" src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
          <img style="width: 2rem" src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
          <img style="width: 2rem" src="{{'images/star-half-stroke-solid 1.svg' | relative_url}}" alt="">
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 1rem; margin-bottom: 1rem;">
      <div class="col col-12" style="font-weight: 600; font-size: 1.2rem; text-align: center;">4.9 stars | 192 reviews</div>
    </div>
    <div class="row">
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="review-card">
          <div class="flex flex-between mb1">
            <div class="review-dp" style="background-image: url('https://lh3.googleusercontent.com/a-/AD5-WCkTDtQnw5wdjRELxHVh-ei2SWJbSMNbPv-5Xhg4vSk=w60-h60-p-rp-mo-ba4-br100');"></div>
            <div class="review-user">Tiray Randle</div>
          </div>
          <p style="height: 15rem; overflow-y: scroll;">Definitely worth the experience. Full hook ups, indoor pool, jacuzzi. They even have an arcade. Decent one too. 
            There's a General Store that sells odds n ins and then another store where you check in. I think the resort is split into 
            different areas. I stayed where the indoor pool was. Mostly dirt and gravel with a few concrete slabs. Inside the Rec Room was amazing. 
            It truly was. It was clean and decorated perfectly. Not too childish and too adult. There was a kid zone too. Over by the pool tables 
            was a door to the Adults Only Room. Nothing freaky going on in here but a nice chill spot. Perfect getaway from these worrisome behind kids. 
            I didn't go to the other sides of the resort. You MOST DEFINITELY need a golf cart. The hill to get up/down is just too steep. 
            In all, I would go back. The streets are gold here.</p>
          <div class="flex flex-between">
            <div>
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-half-stroke-solid 1.svg' | relative_url}}" alt="">
            </div>
            <img src="images/google-logo.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="review-card">
          <div class="flex flex-between mb1">
            <div class="review-dp" style="background-image: url('https://lh3.googleusercontent.com/a-/AD5-WCl6zFUYoPgBppc71y5VEAC2dj0qelv1b7dlbMvPfg=w60-h60-p-rp-mo-br100');" ></div>
            <div class="review-user">Christine Westbrook</div>
          </div>
          <p style="height: 15rem; overflow-y: scroll;">I enjoyed the Sycamore Lodge. We took our fifth wheel here for her maiden voyage. The grounds are well kept and the staff very helpful.
            We stayed at a forest site, which is a pull-through that offers 50 Amp electric, sewer, and water. The site also had a picnic table and fire pit.
            I do like the fact they have many activities throughout the day which allows you to meet new people. Obviously, the activities are not mandatory but I enjoy them.
            We brought our 1-year old yellow lab, Lemon, and she was very happy during our weekend stay. We walked her around the premises and took her to the dog park. When we arrived home in Sunday, all she did was sleep.
            All in all, we had a great experience and we will be back. I can't wait to see what activities are next!</p>
          <div class="flex flex-between">
            <div>
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-half-stroke-solid 1.svg' | relative_url}}" alt="">
            </div>
            <img src="images/google-logo.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="review-card">
          <div class="flex flex-between mb1">
            <div class="review-dp" style="background-image: url('https://lh3.googleusercontent.com/a-/AD5-WCnCJ6OqG_SRcfz3jmWOx0cbZYVQW1wHOMXNkicMlw=w60-h60-p-rp-mo-br100');"></div>
            <div class="review-user">Chris Barker</div>
          </div>
          <p style="height: 15rem; overflow-y: scroll;">Beautiful campgrounds, well maintained. Cabins are super and very clean..clean shower house..just beautiful. Highly recommended
            Playground: Large play area for children and inside are for children.very impressive
            Dog-friendliness: Very large dog parks 1 for small and one for large dogs. Very clean and well structured</p>
          <div class="flex flex-between">
            <div>
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-solid 1.svg' | relative_url}}" alt="">
              <img src="{{'images/star-half-stroke-solid 1.svg' | relative_url}}" alt="">
            </div>
            <img src="images/google-logo.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>