<section style="margin-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>Nearby attractions</h2>
        <p class="text-center">There's something for everyone. Check out what the surrounding areas have to offer.</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-4">
        <div class="rr-card" style="background-image: url({{'/images/stock-5.jpg' | relative_url}}); background-position: -1.2rem; background-size: auto 100%;">
          <button class="rr-card-button" style="background-color: #89981F; color: #FFFFFF;">
            <span class="rr-card-header">Pinehurst Golf Club</span>
          </button>
        </div>
      </div>
      <div class="col col-4">
        <div class="rr-card" style="background-image: url({{'/images/stock-6.jpg' | relative_url}}); background-position: center; background-size: auto 100%">
          <button class="rr-card-button" style="background-color: #A98D5A; color: #FFFFFF;">
            <span class="rr-card-header">North Carolina Zoo</span>
          </button>
        </div>
      </div>
      <div class="col col-4">
        <div class="rr-card" style="background-image: url({{'/images/stock-7.jpg' | relative_url}}); background-position: center; background-size: auto 100%;">
          <button class="rr-card-button" style="background-color: #6E9CC7; color: #FFFFFF;">
            <span class="rr-card-header">Lake Oconee</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>