<section style="margin-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>Plan for this season</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card rr-card-full-button" style="background-image: url({{'/images/stock-9.jpg' | relative_url}}); background-position: center; background-size: auto 100%;">
          <button class="rr-card-button signup-popup" style="background-color: #846354; color: #FFFFFF;">
            <span class="rr-card-header">St. Patrick's day weekend</span>
            <span>Celebrate the weekend with us: Green Beer, Irish Fare and Live Music.</span>
          </button>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card rr-card-full-button" style="background-image: url({{'/images/stock-13.jpg' | relative_url}}); background-position: center -4rem; background-size: auto 100%">
          <button class="rr-card-button signup-popup" style="background-color: #7E260B; color: #FFFFFF;">
            <span class="rr-card-header">Easter weekend</span>
            <span>Hop into Easter fun at our Resort: Egg hunt, brunch, activities for all".</span>
          </button>
        </div>
      </div>
      <div class="col col-4 col-m-12 col-t-6 pt1">
        <div class="rr-card rr-card-full-button" style="background-image: url({{'/images/stock-11.jpg' | relative_url}}); background-position: center; background-size: auto 100%;">
          <button class="rr-card-button signup-popup" style="background-color: #5E8189; color: #FFFFFF;">
            <span class="rr-card-header">Memorial day weekend</span>
            <span>Honor the fallen, celebrate freedom at our Memorial Day event: BBQ, games, live music.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>