<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {% if site.data.settings.hero.hero__image and page.url == '/' %}
    <!-- begin hero image -->
    <div class="hero__image">
      <div class="hero__image__inner">
        <img class="lazy" data-src="{{site.data.settings.hero.hero__image}}" alt="{{site.data.settings.title}}">
      </div>
    </div>
    <!-- end hero image -->
    {% endif %}

    {% include header.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      <!-- Modal start -->
      <div id="signupModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
          <div class="signup-form">
            <h3 class="modal-title">Sign up to get 20% off on your first booking when we launch.</h3>
          <div class="modal-input">
            <label>
              Email
            </label>
            <br />
            <input type="text">
          </div>
          <p class="terms-text">By selecting the button below, I agree to Red Rover’s Privacy Policy and Terms of Use.
          </p>
          <div class="row">
            <div class="col col-12 modal-btn-center">
              <button class="modal-btn">Sign up</button>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- Modal ends -->
      {{ content }}
    </main>
    <!-- end content -->


    {% include footer.html %}

  </div>
  <!-- end global wrap -->

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    $('.signup-popup').click(function () {
      var modal = document.getElementById("signupModal");
      modal.style.display = "block";
      var span = document.getElementsByClassName("close")[0];
      span.onclick = function () {
        modal.style.display = "none";
      }
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    });
  </script>

</body>

</html>