<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {% if site.data.settings.hero.hero__image and page.url == '/' %}
    <!-- begin hero image -->
    <div class="hero__image">
      <div class="hero__image__inner">
        <img class="lazy" data-src="{{site.data.settings.hero.hero__image}}" alt="{{site.data.settings.title}}">
      </div>
    </div>
    <!-- end hero image -->
    {% endif %}

    {% include header.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->


    {% include footer.html %}

  </div>
  <!-- end global wrap -->

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  <script defer>
    window.onload = function () {
      var modal = document.getElementById("signupModal");
      console.log('----------------->',modal)
      if (modal) {
        // Get the button that opens the modal
        var btn = document.getElementById("openModal");
        if (btn) {
          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];
  
          // When the user clicks the button, open the modal 
          btn.onclick = function () {
            modal.style.display = "block";
          }
  
          // When the user clicks on <span> (x), close the modal
          span.onclick = function () {
            modal.style.display = "none";
          }
  
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function (event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        }
      }
    };
    // Get the modal
  
  </script>

</body>

</html>